.section {
  margin: 6rem 0 10rem 0;

  .container {
    margin: 0 14rem;
    margin: auto;
    padding: 0 1.4rem;

    .mainTitleBox {
      margin-bottom: 4rem;

      h2 {
        margin-bottom: 1.3rem;

        font-size: 3.3rem;
        text-align: center;
      }

      p {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .itemList {
      display: flex;
      justify-content: center;

      li {
        margin: 0 1.2rem;
        cursor: pointer;

        a {
          text-decoration: none;
        }
      }

      h4 {
        margin-top: 1rem;

        font-size: 1.2rem;
        color: black;
      }

      .imgContainer {
        width: 20rem;
        height: 12rem;
        border-radius: 1.4rem;

        overflow: hidden;
        img {
          width: 100%;
          height: 100%;

          transform: scale(1);
          transition: transform 0.5s;

          &:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
          }
        }
      }
    }
  }
}
