.header {
  position: absolute;
  top: 0;

  width: 100%;
  height: 5.94rem;

  background-color: white;

  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1440px;
    height: 100%;
    margin: auto;
    padding: 0 1.2rem;

    .title {
      font-size: 1.9rem;

      cursor: pointer;
    }

    .buttonContainer {
      height: 100%;

      nav {
        height: 100%;
        .buttonList {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;

          li {
            width: 10rem;

            font-size: 1.3rem;
            text-align: center;
            cursor: pointer;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
